
body{background-image:url(../image/grape/bg.jpg);}
h1{color:#821260;}

.tophdr ul li{color:#9cf;}
.tophdr ul li a{color:#9f9;}
.tophdr h5{color:#fff;}
form input.gobtn{background-image:url(../image/grape/btn-go.png)}

.navbar{background-image:url(../image/grape/top-bar.png)}

ul.lftnav li{background-image:url(../image/grape/navItem.png)}

.box h2 small a{color:#ccc;}
.box1 h2{color:#6cf;}
.box1 h4{color:#821260;}
.box1 h3{color:#6cf;}

.box2 h2{color:#6cf;}
.box2 span a{color:#9c0}
.box3 h2{color:#6cf;}
.box3 strong{color:#821260;}

.box4 h2{color:#6cf;}
.oita{color:#821260;}

.box5 h2{color:#6cf;}
.box5 b{color:#9c0;}


.ftrBble{background-image:url(../image/bubble.png)}

.ftr{background-image:url(../image/grape/ftr-bar.png)}

img.topGrape{position:absolute; left:-150px; top:20px;}
img.ftrGrape{position:absolute; right:212px; top:0px;}